@import "components/codemirror.less";

@font-face {
	font-family: "Computer Modern";
	src: url('fonts/cmunrm.otf');
}
@font-face {
	font-family: "Computer Modern Bold";
	src: url('fonts/cmunrb.otf');
}
@font-face {
	font-family: "Computer Modern TT";
	src: url('fonts/cmuntt.otf');
}

div {
	padding: 0;
	margin: 0;
}

#output, textarea {
	padding: 5px 10px;
	background: #eee;
	border-radius: 2px;
	border: 1px solid #ddd;
}

p, li, label {
	font-family: "Computer Modern", serif;
}

p a {
	color: #369;
}

h1, h2 {
	font-family: "Computer Modern Bold", serif;
}

header > h1,
article > h2,
article > p,
article > div > p {
	margin-left: 10px;
}

p, li, label {
	font-size: 11pt;
	line-height: 1.3em;
}

pre {
	padding: 0;
	margin: 0;
}

code, textarea, pre {
	font-family: 'Computer Modern TT', monospace;
	font-size: 10pt;
	line-height: 1em;
}

